# 構成銘柄：日経平均株価

### 一つ上のディレクトリをパスに追加

In [1]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

### ライブラリをここで一括インポート

In [2]:
import os
import subprocess

import pandas as pd

### wget コマンドを Python で実行

In [3]:
# Reference:
# https://brightdata.jp/blog/各種ご利用方法/wget-with-python
def execute_command(command):
    """
    Execute a CLI command and return the output and error messages.

    Parameters:
        - command (str): The CLI command to execute.

    Returns:
        - output (str): The output generated by the command.
        - error (str): The error message generated by the command, if any.
    """
    try:
        # execute the command and capture the output and error messages
        process = subprocess.Popen(
            command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE
        )
        output, error = process.communicate()
        output = output.decode("utf-8")
        error = error.decode("utf-8")
        # return the output and error messages
        return output, error
    except Exception as e:
        # if an exception occurs, return the exception message as an error
        return None, str(e)

## 日経平均株価の構成銘柄の情報を取得

In [4]:
# wget コマンドで対象サイトをダウンロード
file = "component" # 
if os.path.exists(file):
    os.remove(file)
output, error = execute_command(f"wget https://indexes.nikkei.co.jp/nkave/index/{file}")

# 保存された HTML ファイルを Pandas で読み込む
dfs = pd.read_html(file)
# 複数のデータフレームを結合して、コード列でソート
df = pd.concat(dfs).sort_values("コード", ignore_index=True)
df

      コード     銘柄名               社名
0    1332    ニッスイ          （株）ニッスイ
1    1605   ＩＮＰＥＸ         （株）ＩＮＰＥＸ
2    1721  コムシスＨＤ  コムシスホールディングス（株）
3    1801     大成建          大成建設（株）
4    1802     大林組           （株）大林組
..    ...     ...              ...
220  9735     セコム           セコム（株）
221  9766    コナミＧ       コナミグループ（株）
222  9843   ニトリＨＤ   （株）ニトリホールディングス
223  9983   ファストリ   （株）ファーストリテイリング
224  9984     ＳＢＧ    ソフトバンクグループ（株）

[225 rows x 3 columns]