In [1]:
import sys

path_up = ".."
if not path_up in sys.path:
    sys.path.append(path_up)

In [4]:
import pandas as pd
import talib

from funcs.ios import get_excel_sheet

In [5]:
path_excel = "../collection/ticks_20250925.xlsx"
code = "7011"
df = get_excel_sheet(path_excel, code)
df

               Time  Price    Volume
0      1.758758e+09   3881   1046300
1      1.758758e+09   3881   1046300
2      1.758758e+09   3870   1192700
3      1.758758e+09   3870   1192700
4      1.758758e+09   3876   1198000
...             ...    ...       ...
19377  1.758781e+09   3850  27825200
19378  1.758781e+09   3850  27825200
19379  1.758781e+09   3850  27826300
19380  1.758781e+09   3850  27826300
19381  1.758781e+09   3850  27827600

[19382 rows x 3 columns]

In [9]:
talib.ROC(df["Price"], timeperiod=300)

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
19377    0.025981
19378    0.025981
19379    0.025981
19380    0.025981
19381    0.025981
Length: 19382, dtype: float64

In [13]:
macd, macdsignal, macdhist = talib.MACD(df["Price"], fastperiod=300, slowperiod=1200, signalperiod=540)
macdhist

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
19377    0.580069
19378    0.582538
19379    0.584958
19380    0.587328
19381    0.589650
Length: 19382, dtype: float64